sqlalchemy
psycopg2-binary
python-multipart
pydantic
pydantic-settingsabsl-py==2.4.0
fastapi==0.135.1
lightning==2.6.1
lightning-utilities==0.15.3
numpy==2.4.2
pandas==3.0.1
pydantic==2.12.5
pytorch-lightning==2.6.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
torch==2.11.0
torchaudio==2.11.0
torchmetrics==1.9.0
torchvision==0.26.0
uvicorn==0.42.0
